<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaEntidades.Properties.Settings.BDRENDEVUConnectionString"
            connectionString="Data Source=PCARLOS;Initial Catalog=BDRENDEVU;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>